.containerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 40px 0;
}
.containerCard .cardCard {
  position: relative;
  min-width: 320px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(8, 8, 8, 0.2),
    inset -5px -5px -5px rgba(52, 224, 29, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.3),
    -5px -5px -5px rgba(100, 300, 100, 0.1);
}
